{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="Eshop is the best online store within affordable price.">
<meta name="author" content="Habibul Mursaleen">
<meta property="og:title" content="Eshop | About">
<meta property="og:description" content="Eshop is the best online store within affordable price.">
<meta property="og:type" content="article">
<meta property="og:url" content="http://eshop.com/about/">
{% endblock %}


{% block content %}
<h1>About</h1>
{% endblock %}